name: Build frontend on push
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Dependency Install
        run: pnpm install
      - name: Building the Frontend
        run: pnpm build:web
