name: Build Test
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install dependencies
        uses: ./.github/workflows/install-dependencies.yml

      - name: Frontend build
        run: pnpm build:web
